body {
	background-image: url(https://wallpapercave.com/wp/eP4xH9j.jpg);
}

/*Navbar css start*/
nav {
	background-color: #0009;
}
.container img{
	width: 250px;

}
.nav-item span {
	color: orange;
}

.navbar-nav a {
	font-family: poppins;
	font-size: 18px;
	text-transform: uppercase;
	margin-left: 30px;
}

.dropdown-menu a{
  
	margin-left: 0px;
}
.dropdown-menu {
  color: black;
}

.navbar-light .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}
.w-100 {
	height: 100vh;
}
#hover1{
	color: #fff;
}
#hover1:hover {
color: #F18D2E;
}
#hover1::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #F18D2E;
	transition: width .3s;
}
#hover1:hover::after {
	width: 100%;
	transition: width .3s;
}
/*Navbar css end*/
/*navbar mobile adapt start*/

label {
	font-size: 40px;
	display: none;
 margin: 8px 0 0 60px;
}
.navv label {
	display: none;
}
.header {
	display: none;
}
#toggle{
 display: none;
}
@media  (max-width: 767px) {
	.navv label {
		display: block;
		font-size: 41px;
		cursor: pointer;
		position: relative;
		position: relative;
		right: 10px;

	}
	.header {
		display: block;
		color: white;
		padding-top: 90px;
    font-size: 30px;
    text-align: center;
    margin-right: 20px;
    position: relative;
    left:120px;
    bottom: 50px;
	}
	.header div{
  border-top: 1px solid grey;
  padding: 10px 0;
  display: block;
  cursor: pointer;
  margin-right: 0;

}

.header div a{
	text-decoration: none;
	color: white;
}

.header div a:hover{
	color: orange;
}

.header div span {
	color: orange;

}

#toggle:checked + .header{
  display: none;
}
.header div:hover{
	color: orange;
	font-size: 31px;
}
}
/*navbar mobile adapt end*//*navbar mobile adapt start*/

label {
	font-size: 40px;
	display: none;
 margin: 8px 0 0 60px;
}
.navv label {
	display: none;
}
.header {
	display: none;
}
#toggle{
 display: none;
}
@media  (max-width: 767px) {
	.navv label {
		display: block;
		font-size: 41px;
		cursor: pointer;
		position: relative;
		position: relative;
		right: 10px;

	}
	.header {
		display: block;
		color: white;
		padding-top: 90px;
    font-size: 30px;
    text-align: center;
    margin-right: 20px;
    position: relative;
    left:120px;
    bottom: 50px;
	}
	.header div{
  border-top: 1px solid grey;
  padding: 10px 0;
  display: block;
  cursor: pointer;
  margin-right: 0;

}
.header div span {
	color: orange;

}

#toggle:checked + .header{
  display: none;
}
.header a:hover{
	color: orange;
	font-size: 31px;
}

}
/*navbar mobile adapt end*/



@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.grid {
  display: grid;
  width: 35em;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
}

.grid-item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
  display: block;
  width: 100%;
  height: 35rem;
  object-fit: cover;
}

.card-content {
  padding: 3rem;
}

.card-header {
  font-size: 3rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}

.card-text {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}

.card-btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #3363ff;
  background-color: #d8e0fd;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.card-btn span {
  margin-left: 1rem;
  transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
  background-color: #c2cffc;
}

.card-btn:hover span,
.card-btn:active span {
  margin-left: 1.5rem;
}

@media only screen and (max-width: 60em) {
  body {
    padding: 3rem;
  }

  .grid {
    grid-gap: 3rem;
  }
}

